@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800;900&display=swap');

.navigation ul {
  list-style: none;
}

.navigation li {
  /* display: block; */
  float: left;
  margin: 15px 15px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: 800;
}